.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.btn-remove {
  background-color: #f14545;
}

.active-filter {
  background-color: #7ac5ff;
}

.error {
  border: 2px solid red;
  outline: transparent;
}

.error-text {
  color: red;
}

.is-done {
  opacity: 0.5;
}
